.fondo {
    -fx-background-image: url("../img/fondo.jpg");
}

.panel {
    -fx-background-color: rgba(229, 86, 255, 0.46);
}

JFXButton {
    -fx-text-fill: white;
}

VBox {
    -fx-background-color: #f6f6f6;
}

.boxButton {
    -fx-text-fill: rgb(177, 73, 201);
}

JFXTextField {
    -fx-text-fill: #bbbbbb;
}
