.fondo {
    -fx-background-image: url("../img/fade3.jpg");
    -fx-background-size: stretch;
}

.panel {
    -fx-background-color: rgba(229, 86, 255, 0.46);
}

JFXButton {
    -fx-text-fill: white;
    -fx-border-radius: 8px;
    -fx-background-radius: 9px;
}

.boxButton {
    -fx-border-width: 2px;
    -fx-text-fill: rgb(177, 73, 201);
    -fx-border-color: #b149c9;
}

.aboutUsButton {
    -fx-background-color: #FFF;
    -fx-text-fill: rgb(177, 73, 201);
}

.aboutUsButton:hover {
    -fx-border-width: 2px;
    -fx-border-color: #FFFFFF;
}

.signInButton {
    -fx-border-width: 2px;
    -fx-border-color: #FFFFFF;
}

VBox {
    -fx-background-color: #f6f6f6;
}

JFXTextField {
    -fx-prompt-text-fill: #bbbbbb;
}

JFXPasswordField {
    -fx-prompt-text-fill: #bbbbbb;
}

Label {
    -fx-font-size: 33px;
    -fx-text-fill: #FFFFFF;
}
